@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

 *{
  margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
@media (max-width: 768px){
.app{
  height: 200vh;
  padding-bottom: 2rem;
  
}  
.img{
  position: fixed;
  width: 100%;
  height: 200vw;
  opacity: 0.3;
  z-index: -1;
}
}
@media (min-width: 768px){
  .app{
    text-align: center;
    
  }
   .img{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
  }
  }
